openapi: 3.0.0

info:
  title: CRUD Master API Gateway
  description: |-
    Complete API Gateway for movie inventory and billing microservices.

    This API provides:
    - **Movie Management**: Full CRUD operations for movie inventory
    - **Order Processing**: Asynchronous order creation via RabbitMQ

    ## Architecture
    - API Gateway: Internal port 3000 (inside ECS cluster)
    - HTTP proxy routes inventory requests to Inventory API (Port 8080)
    - Billing requests are published to RabbitMQ queue (async processing)

    ## Authentication
    All business endpoints require a valid AWS Cognito JWT (Bearer token)
    issued by the `eu-north-1_qFWpBIUIE` user pool and the
    `cloud-design-app-client` app client.

    - The API expects an `Authorization: Bearer <JWT>` header
    - Tokens must be signed by Cognito and not expired
    - For `id` tokens, the `aud` claim must equal the app client ID
    - For `access` tokens, the `client_id` claim must equal the app client ID

    The `/health` and `/ready` endpoints are intentionally left unauthenticated
    so that load balancers and monitoring systems can perform health checks.
  version: 1.0.0
  contact:
    name: Saddam Hussain
    email: saddam.hussain@example.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://cloud-design-alb-2085979927.eu-north-1.elb.amazonaws.com
    description: API Gateway (production - AWS ALB)
  - url: http://localhost:3000
    description: API Gateway (local development)

security:
  - bearerAuth: []

tags:
  - name: Movies
    description: Movie inventory management (CRUD operations)
  - name: Billing
    description: Order and billing operations (async RabbitMQ)
  - name: Health
    description: Service health and status checks

paths:
  /api/movies:
    get:
      summary: Get all movies
      description: |-
        Retrieve a list of all movies in the inventory.

        Supports optional filtering by movie title.

        Requires a valid AWS Cognito Bearer JWT in the `Authorization` header.
      operationId: getAllMovies
      tags:
        - Movies
      parameters:
        - name: title
          in: query
          description: Filter movies by title (case-insensitive, partial match)
          required: false
          schema:
            type: string
            example: Inception
      responses:
        "200":
          description: Successfully retrieved movies
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MovieListResponse"
              example:
                success: true
                count: 2
                movies:
                  - id: 1
                    title: Inception
                    description: A mind-bending thriller
                    genre: Sci-Fi
                    release_year: 2010
                    rating: 8.8
                    duration: 148
                    available_copies: 5
                    created_at: "2026-03-27T18:01:12.000000"
                    updated_at: "2026-03-27T18:01:12.000000"
                  - id: 2
                    title: Titanic
                    description: A love story on a sinking ship
                    genre: Romance
                    release_year: 1997
                    rating: 7.8
                    duration: 194
                    available_copies: 4
                    created_at: "2026-03-27T18:02:00.000000"
                    updated_at: "2026-03-27T18:02:00.000000"
        "401":
          description: Missing, expired, or invalid JWT
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: Unauthorized
                message: Missing Bearer token
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    post:
      summary: Create a new movie
      description: |-
        Create a new movie in the inventory.

        Required fields: title, genre, release_year

        Returns the created movie with auto-generated ID and timestamps.

        Requires a valid AWS Cognito Bearer JWT in the `Authorization` header.
      operationId: createMovie
      tags:
        - Movies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMovieRequest"
            example:
              title: Inception
              description: A mind-bending thriller about dreams
              genre: Sci-Fi
              release_year: 2010
              rating: 8.8
              duration: 148
              available_copies: 5
      responses:
        "201":
          description: Movie created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MovieResponse"
              example:
                success: true
                message: Movie created successfully
                movie:
                  id: 1
                  title: Inception
                  description: A mind-bending thriller
                  genre: Sci-Fi
                  release_year: 2010
                  rating: 8.8
                  duration: 148
                  available_copies: 5
                  created_at: "2026-03-27T18:01:12.000000"
                  updated_at: "2026-03-27T18:01:12.000000"
        "400":
          description: Invalid input (missing required fields or invalid data type)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Missing, expired, or invalid JWT
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    delete:
      summary: Delete all movies
      description: |-
        Delete ALL movies from the database.

        ⚠️ **WARNING**: This is a destructive operation and cannot be undone!

        Returns the count of deleted movies.

        Requires a valid AWS Cognito Bearer JWT in the `Authorization` header.
      operationId: deleteAllMovies
      tags:
        - Movies
      responses:
        "200":
          description: All movies deleted successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteAllMoviesResponse"
              example:
                success: true
                message: All movies deleted successfully
                deleted_count: 5
        "401":
          description: Missing, expired, or invalid JWT
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/movies/{id}:
    get:
      summary: Get a single movie by ID
      description: |-
        Retrieve a specific movie by its unique ID.

        Requires a valid AWS Cognito Bearer JWT in the `Authorization` header.
      operationId: getMovieById
      tags:
        - Movies
      parameters:
        - name: id
          in: path
          description: Unique movie ID
          required: true
          schema:
            type: integer
            example: 1
      responses:
        "200":
          description: Movie found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MovieResponse"
              example:
                success: true
                movie:
                  id: 1
                  title: Inception
                  description: A mind-bending thriller
                  genre: Sci-Fi
                  release_year: 2010
                  rating: 8.8
                  duration: 148
                  available_copies: 5
                  created_at: "2026-03-27T18:01:12.000000"
                  updated_at: "2026-03-27T18:01:12.000000"
        "401":
          description: Missing, expired, or invalid JWT
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Movie not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                success: false
                error: "Movie with ID 999 not found"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    put:
      summary: Update a movie
      description: |-
        Update a specific movie by ID.

        Only provided fields will be updated (partial updates supported).

        Timestamps (created_at, updated_at) are automatically managed.

        Requires a valid AWS Cognito Bearer JWT in the `Authorization` header.
      operationId: updateMovie
      tags:
        - Movies
      parameters:
        - name: id
          in: path
          description: Unique movie ID
          required: true
          schema:
            type: integer
            example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateMovieRequest"
            example:
              rating: 9.0
              available_copies: 3
      responses:
        "200":
          description: Movie updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MovieResponse"
              example:
                success: true
                message: Movie updated successfully
                movie:
                  id: 1
                  title: Inception
                  description: A mind-bending thriller
                  genre: Sci-Fi
                  release_year: 2010
                  rating: 9.0
                  duration: 148
                  available_copies: 3
                  created_at: "2026-03-27T18:01:12.000000"
                  updated_at: "2026-03-27T18:15:45.000000"
        "400":
          description: Invalid input (invalid data type)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Missing, expired, or invalid JWT
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Movie not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

    delete:
      summary: Delete a specific movie
      description: |-
        Delete a movie by its unique ID.

        Requires a valid AWS Cognito Bearer JWT in the `Authorization` header.
      operationId: deleteMovie
      tags:
        - Movies
      parameters:
        - name: id
          in: path
          description: Unique movie ID
          required: true
          schema:
            type: integer
            example: 1
      responses:
        "200":
          description: Movie deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Movie deleted successfully
        "401":
          description: Missing, expired, or invalid JWT
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Movie not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/billing:
    post:
      summary: Create an order (async)
      description: |-
        Create an order and publish it to the RabbitMQ queue for asynchronous processing.

        Returns 200 OK immediately (before Billing API processes it).

        This demonstrates **eventual consistency** - the order will be processed
        when the Billing API consumes it from the queue, even if Billing API is offline.

        ## Resilience Features
        - Message persists in durable queue if Billing API is down
        - Message will be reprocessed when Billing API restarts
        - Supports high-volume order bursts

        Requires a valid AWS Cognito Bearer JWT in the `Authorization` header.
      operationId: createOrder
      tags:
        - Billing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOrderRequest"
            example:
              user_id: user123
              number_of_items: "5"
              total_amount: "49.99"
      responses:
        "200":
          description: Order accepted and queued for processing
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Order accepted and queued for processing
                  order:
                    $ref: "#/components/schemas/Order"
              example:
                message: Order accepted and queued for processing
                order:
                  user_id: user123
                  number_of_items: "5"
                  total_amount: "49.99"
        "400":
          description: Invalid input (missing required fields)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: Missing required fields
                missing_fields:
                  - user_id
                  - number_of_items
                  - total_amount
        "401":
          description: Missing, expired, or invalid JWT
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "503":
          description: RabbitMQ is unreachable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: Cannot connect to RabbitMQ
                message: RabbitMQ server is unreachable
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /health:
    get:
      security: []
      summary: Health check
      description: Check the health status of the API Gateway.
      operationId: healthCheck
      tags:
        - Health
      responses:
        "200":
          description: Gateway is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: healthy
                  service:
                    type: string
                    example: API Gateway
                  inventory_api:
                    type: string
                    example: http://inventory-app.local:8080
                  rabbit_mq_host:
                    type: string
                    example: billing-app.local

  /ready:
    get:
      security: []
      summary: Readiness check
      description: Check whether the API Gateway is ready to serve traffic.
      operationId: readinessCheck
      tags:
        - Health
      responses:
        "200":
          description: Gateway is ready
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ready
                  service:
                    type: string
                    example: API Gateway

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Movie:
      type: object
      required:
        - id
        - title
        - genre
        - release_year
      properties:
        id:
          type: integer
          description: Unique movie ID (auto-generated)
          example: 1
        title:
          type: string
          description: Movie title
          example: Inception
        description:
          type: string
          nullable: true
          description: Movie synopsis (optional)
          example: A mind-bending thriller about dreams
        genre:
          type: string
          description: Movie genre
          example: Sci-Fi
        release_year:
          type: integer
          description: Year the movie was released
          example: 2010
        rating:
          type: number
          format: float
          description: Movie rating (0-10, optional)
          example: 8.8
        duration:
          type: integer
          description: Movie duration in minutes
          example: 148
        available_copies:
          type: integer
          description: Number of available copies
          example: 5
        created_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp when movie was created
          example: "2026-03-27T18:01:12.000000"
        updated_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp when movie was last updated
          example: "2026-03-27T18:01:12.000000"

    CreateMovieRequest:
      type: object
      required:
        - title
        - genre
        - release_year
      properties:
        title:
          type: string
          description: Movie title (required)
          example: Inception
        description:
          type: string
          description: Movie synopsis (optional)
          example: A mind-bending thriller
        genre:
          type: string
          description: Movie genre (required)
          example: Sci-Fi
        release_year:
          type: integer
          description: Year released (required)
          example: 2010
        rating:
          type: number
          format: float
          description: Rating 0-10 (optional, default 0.0)
          example: 8.8
        duration:
          type: integer
          description: Duration in minutes (required, default 120)
          example: 148
        available_copies:
          type: integer
          description: Number of copies (required, default 0)
          example: 5

    UpdateMovieRequest:
      type: object
      description: Any number of fields can be updated (partial update)
      properties:
        title:
          type: string
          example: Inception
        description:
          type: string
          example: A mind-bending thriller
        genre:
          type: string
          example: Sci-Fi
        release_year:
          type: integer
          example: 2010
        rating:
          type: number
          format: float
          example: 9.0
        duration:
          type: integer
          example: 148
        available_copies:
          type: integer
          example: 3

    Order:
      type: object
      required:
        - user_id
        - number_of_items
        - total_amount
      properties:
        user_id:
          type: string
          description: Customer/user ID
          example: user123
        number_of_items:
          type: string
          description: Number of items in order
          example: "5"
        total_amount:
          type: string
          description: Total cost
          example: "49.99"

    CreateOrderRequest:
      type: object
      required:
        - user_id
        - number_of_items
        - total_amount
      properties:
        user_id:
          type: string
          description: Customer identifier (required)
          example: user123
        number_of_items:
          type: string
          description: Number of items (required)
          example: "5"
        total_amount:
          type: string
          description: Total amount (required)
          example: "49.99"

    MovieResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: Movie created successfully
        movie:
          $ref: "#/components/schemas/Movie"

    MovieListResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        count:
          type: integer
          example: 2
        movies:
          type: array
          items:
            $ref: "#/components/schemas/Movie"

    DeleteAllMoviesResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: All movies deleted successfully
        deleted_count:
          type: integer
          example: 5

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
          example: Movie not found
        message:
          type: string
          example: Additional error details
        details:
          type: string
          example: Additional debug information